.container {
    padding: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    border: 2px solid gray;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container:hover {
    transform: scale(1.05);
}

.innerContainer {
    display: flex;
    gap: 1.5rem;
}

.jobTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    color: black;
    text-decoration: none;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.infoText {
    font-size: 14px;
    color: black;
    font-weight: 600;
    opacity: 0.6;
}

.jobType {
    font-size: 10px;
    color: black;
    opacity: 0.8;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #94CEEC;
    font-weight: 600;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0.5rem;
    }

    .innerContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}