.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
   
  .addButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
   
  .addButton:hover {
    background-color: #0056b3;
  }
   
  .postFormPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
   
  .formContainer {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
   
  .formGroup {
    margin-bottom: 20px;
  }
   
  .formInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    font-size: 16px;
  }
   
  .formInput:focus {
    border-bottom: 2px solid #007bff;
  }
   
  .formFooter {
    display: flex;
    justify-content: space-between;
  }
   
  .submitButton, .cancelButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3rem;
  }
   
  .submitButton {
    background-color: #28a745;
    color: white;
  }
   
  .submitButton:hover {
    background-color: #218838;
  }
   
  .cancelButton {
    background-color: #dc3545;
    color: white;
  }
   
  .cancelButton:hover {
    background-color: #c82333;
  }